<html>
<head>
    <title>ChatRoom.html</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <script type="text/javascript">
        //将服务器发送回的信息更新到文本框
        function addMessage(message) {
            //获取 id为message的文本框
            var messageElement = document.getElementById("message");
            //将新信息添加的文本框
            messageElement.innerHTML += message;
            //将id为input_message的文本框清空
            document.getElementById("input_message").value = "";
            // 将id为input_name的文本框清空
            document.getElementById("input_name").value = ""
        }
        function iframeRefresh() {
            var iframeElement = document.getElementById("iframeReceiveMessage");
            //获取id为iframeReceiveMessage的框架

            setInterval(function () {  iframeElement.src = iframeElement.src,10000});
        }
    </script>
</head>
<body>
<iframe name="iframeSendMessage" style="display:none; "></iframe>
<iframe id="iframeReceiveMessage" style="display:none; " src="/iframe/example2/comet" onLoad=" iframeRefresh() "></iframe>
<!-- style="display:none通过这段代码来使iframe隐藏 -->
<!-- onload事件在页面内容加载完成时调用-->
<div id="message" style="height:400px;  width:100%;  overflow:scroll; "></div>
<form target="iframeSendMessage" action="/iframe/example2/sendMessage" method="POST">
    姓名：<input type="text" name="username" id="input_name"><br>
    消息：<br>
    <textarea rows="4" cols="30" name="message" id="input_message"></textarea><br>
    <input type="submit" value="发送">
</form>
</body>
</html>