<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input id="upload" type="file"/>
<img id="preview" src="" alt="预览"/>
<video id="previewVideo" style="width:600px;max-width:100%;" controls="">

</video>
</body>

<script>
    const upload = document.querySelector("#upload");
    const preview = document.querySelector("#previewVideo");
    upload.onchange = function () {
        const file = upload.files[0]; //File对象
        const src = URL.createObjectURL(file);
        preview.src = src;
    };
</script>
</html>